<header class="header">
    <div class="logo">
        <img src="assets/initialsLogo.png" alt="Logo" class="logo-image" (click)="goHome()" />
    </div>    

    
  
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active-link">Home</a>
      <a href="/#about" class="about" (click)="onSectionLinkClick($event, 'about')">About Me</a>
      <a href="/#projects" class="projects" (click)="onSectionLinkClick($event, 'projects')">Projects</a>
      <a href="/#contact" class="contact" (click)="onSectionLinkClick($event, 'contact')">Contact</a>
      <a
      class="linkedin"
      href="https://www.linkedin.com/in/alexdieter/"
      target="_blank"
      rel="noopener noreferrer"
    >
      LinkedIn →
    </a>
    </nav>
</header>