<section id= "about"class="about-me">
    <div class="content">
        <div class="about-text">
            <h2>About Me</h2>
            <div class = "underline"></div>
            <p>
                I'm a passionate developer who loves creating functional, visually appealing websites.  
                I enjoy problem-solving, coding, and working on exciting projects.
            </p>
        </div>

        <div class="main-images">
            <img src="pic8.jpg" alt="Main Picture 1">
            <img src="pic2.jpg" alt="Main Picture 2">
        </div>
    </div>

    <div class="extra-images">
        <img src="pic3.JPG" alt="Extra Picture 1">
        <img src="pic4.JPG" alt="Extra Picture 2">
        <img src="pic5.JPG" alt="Extra Picture 3">
        <img src="pic6.JPG" alt="Extra Picture 4">
        <img src="pic7.jpg" alt="Extra Picture 5">
        <img src="pic1.JPG" alt="Extra Picture 6">
    </div>
</section>