<section class="hero" id="hero">
    <div class="photo hero-photo-entrance">
        <img src="assets/ProfilePic2.png" alt="Alexander Tsuyoshi Dieter" />
    </div>

    <div class="intro">
        <p class="small-text hero-text-entrance">Hello, I'm</p>
        <h1>
            <span class="name" id="name">Alexander Tsuyoshi Dieter</span>
        </h1>
        <p class="title hero-title-entrance hero-title-1">Student, Data Scientist</p>
        <p class="title hero-title-entrance hero-title-2">University of California, Santa Barbara</p>

        <div class="buttons">
            <a class="download-btn hero-btn-entrance hero-btn-1" href="assets/Alex_Dieter_Resume.pdf" download>
                Download CV
            </a>
            <button class="contact-btn hero-btn-entrance hero-btn-2" (click)="scrollToContact()">
                Contact Me
            </button>
            <button class="projects-btn hero-btn-entrance hero-btn-3" (click)="scrollToProjects()">
                View Projects
            </button>
        </div>
    </div>
</section>
