<section class="hero">

    <!-- Picture of You -->
    <div class="photo">
        <img src="/ProfilePic.jpg" alt="Alex Tsuyoshi Dieter" />
      </div>
      
    <!-- Introduction Section -->
    <div class="intro">
      <h1>Hello, I'm <span>Alex Tsuyoshi Dieter</span>.</h1>
      <p>
        I'm a passionate developer, designer, and problem solver. Welcome to my
        portfolio!
      </p>
      <button class="contact-btn" routerLink="/contact">Contact Me</button>
    </div>
  
    
  </section>