<section class="hero" id="hero">
    <div class="photo">
        <img src="assets/ProfilePic2.png" alt="Alexander Tsuyoshi Dieter" />
    </div>

    <div class="intro">
        <p class="small-text">Hello, I'm</p>
        <h1>
            <span class="name" id="name">Alexander Tsuyoshi Dieter</span>
        </h1>
        <p class="title">Student, Data Scientist</p>
        <p class="title">University of California, Santa Barbara</p>

        <div class="buttons">

            <a class="download-btn" href="assets/Alex_Dieter_Resume.pdf" download>
                Download CV
            </a>

            <button class="contact-btn" (click)="scrollToContact()">
                Contact Me
            </button>

        </div>
    </div>
</section>
