<section id="contact" class="contact">
    <h2 class="contact-title">Contact Me</h2>
    <div class="contact-accent"></div>
    <p class="contact-subtitle">
      Let’s connect — feel free to reach out.
    </p>
    
    <div class="contact-buttons">
      <a href="https://www.linkedin.com/in/alexdieter/" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons8-linked-in.svg" alt="LinkedIn" />
      </a>
  
      <a href="https://github.com/AlexDieterr" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons8-github.svg" alt="GitHub" />
      </a>
  
      <a href="https://www.facebook.com/alex.dieter.37/" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons8-facebook.svg" alt="Facebook" />
      </a>
  
      <a href="https://www.instagram.com/alexdieterr/" target="_blank" rel="noopener noreferrer">
        <img src="assets/icons8-instagram.svg" alt="Instagram" />
      </a>
  
      <a href="mailto:alexdieter1@gmail.com">
        <img src="assets/icons8-email-64.png" alt="Email" />
      </a>
    </div>


    <form
      class="contact-form"
      (ngSubmit)="sendEmail()"
      #contactForm="ngForm"
    >

      <input
        type="text"
        name="from_name"
        [(ngModel)]="form.name"
        placeholder="Your name"
        autocomplete="email"
        required
      />

      <input
        type="email"
        name="from_email"
        autocomplete="email"
        [(ngModel)]="form.email"
        placeholder="Your email or phone number"
        required
      />

      <textarea
        name="message"
        [(ngModel)]="form.message"
        placeholder="Want to get in contact or have site feedback? Send me a message!"
        rows="5"
        required
      ></textarea>

      <button type="submit" [disabled]="loading || !contactForm.valid">
        {{ loading ? 'Sending…' : 'Send Message' }}
      </button>

      <p *ngIf="success" class="form-status success">
        Message sent successfully.
      </p>

      <p *ngIf="error" class="form-status error">
        Failed to send message. Please try again.
      </p>

    </form>
</section>